<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfis</title>
    <link rel="stylesheet" href="./static/style.css" />
  </head>
  <body>
    <h1>Adicionar Perfis</h1>
    <form>
      <div class="form__fieldset">
        <label for="nome" class="form__label">Nome: </label>
        <input type="text" name="nome" id="nome" class="form__input" />
      </div>

      <div class="form__fieldset">
        <label for="link" class="form__label">Link:</label>
        <input type="text" step= "0.01" name="link" id="link" class="form__input" />
      </div>

      <div class="form__fieldset">
        
      </div>
      <div class = "erro" id = "erro">
        <p>{{mensagem}}</p>
      </div>
      <div class="form__fieldset">
        <input
          class="form__submit form__input"
          type="submit"
          value="Adicionar Perfil"
        />
      </div>
    </form>
  </body>
</html>